{% extends "blog/base.html" %}
{% block content %}
    <div>
        <h1>{{ post.title }}</h1>
        <p>{{ post.author }}</p>
        <content>
        </content>
        <p>Date Posted: {{ post.date_posted }}</p>
        <p>last edit: {{ post.date_last_edited }}</p>
        <p>Source: {{ post.recipe.source }}</p>
        <h2>Ingredients</h2>
        {% for ingredient in post.recipe.ingredient_set.all %}
            <p>{{ ingredient.quantity }} {{ ingredient.ingredient }}</p>
        {% endfor %}
        
    </div>
{% endblock content %}