{% extends "website/base.html" %}
{% block content %}
{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'contact/contact.css' %}">
    <script src="https://www.google.com/recaptcha/api.js?render={{recaptcha_site_key}}"></script>
    <script src="{% static 'contact/contact.js' %}"></script>
    <script>recaptchatoken('{{ recaptcha_site_key }}')</script>

    <div class="content">
        <div class="contact-header-container">
            <h1>Contact</h1>
            <p>Send a message by filling out the form below.</p>
        </div>
    
        <div class="form-container">
            <form method="post">
                {% csrf_token %}
                
                <!-- reCAPTCHA input -->
				<input type="hidden" id="g-recaptcha-response" name="g-recaptcha-response">

                <div class="contact-form-input-container">
                    <div class="contact-form-grid-container">
                        <div class="contact-form-field contact-form-grid-item">
                            <p class="contact-form-input-label"> {{ form.from_name.label }}</p>
                            {{ form.from_name }}
                        </div>
                        <div class="contact-form-field contact-form-grid-item">
                            <p class="contact-form-input-label">{{ form.from_email.label }}</p>
                            {{ form.from_email }}
                        </div>
                    </div>
                    <div class="contact-form-field">
                        <p class="contact-form-input-label">{{ form.subject.label }}</p>
                        {{ form.subject }}
                    </div>
                    
                    <div class="contact-form-field">
                        <p class="contact-form-input-label">{{ form.message.label }}</p>
                        {{ form.message }}
                    </div>
                    
                    <div class="contact-form-action-buttons">
                        <button type="submit" class="contact-form-button">Send</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}